extends layout

block content
  link(rel='stylesheet', href='../stylesheets/sign-in.css')

  div.holder
    div.shadow
    div.banner
      div.logo-holder
        img.logo(src="images/Logo.png", alt="Logo")
    div.left
      h1.sign-in.jura SIGN IN
      form(action="/" method="POST")
        label.left-label.jura(for="Email") EMAIL ADDRESS / USERNAME:
        input.breaker.text-edit.jura(type="text" name="Email" id="Email")
        label.left-label.jura(for="Password") PASSWORD:
        input.breaker.text-edit(type="text" name="Password" id="Password")
        input.sign-in-button.jura(type="submit" value="SIGN IN")      
      a(href="/auth/facebook" class="btn btn-primary")
        img.facebook(src="images/facebook.png", alt="Logo")


      
    div.right
      div#borderLeft
      h1.sign-up.jura NOT A MEMBER? SIGN UP!
      h2.jura.info Get into the game! Registration is fast and free!
      input.sign-up-button.jura(type="submit" value="create account")
      
    img.about(src="images/Fuck.png", alt="Logo")
    div.about-div
      img.about-watch(src="images/Watch.png", alt="Logo")
      img.about-compete(src="images/compete.png", alt="Logo")
      img.about-picks(src="images/Picks.png", alt="Logo")
      
  script(type='text/javascript').      
    if (window.location.hash && window.location.hash == '#_=_') {
      window.location.hash = '';
    }

      
    
