link(rel='stylesheet', href='/stylesheets/navbar.css')

div.nav-bar
	img.toppbox-logo(src="../images/Logo.png")

	a.profile-name(href="/home/home")= 'Welcome ' + userName + "!" 
	img.profile-img(src= photoUrl)
	div.navLeft
		a(href="/buildDB") Database
		a(href="/profileUser/#{toppboxemail}") My Profile
		a(href="/vote") Vote
		a(href="/") Logout
    
div.containing-container
