extends layout

block content
  link(rel='stylesheet', href='/stylesheets/show.css')
  div.left
    h1.title Title
    img.movieImgs(src='http://placehold.it/200x200')
    p % Picked This
    p.info info

  div.right
    h1 Metrics
    div.metrics
      div.metricsLeft
        p rotten tomatoes
        p budget
      div.metricsRight
        h3 description
        p "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        iframe(type='text/html' width='200' height='200' src='http://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com' frameborder='0')

          
