extends layout

block content
  link(rel='stylesheet', href='/stylesheets/show.css')
  if movie
    div.left
      h1= movie.name
      img.movieImgs(src='http://image.tmdb.org/t/p/w500'+ movie.photo_link height='400px' width='200px')
      p % Picked This

    div.right
      h1 Metrics
      div.metrics
        div.metricsLeft
          h3 Popularity
          p= movie.popularity
          h3 Description
          p= movie.overview
        div.metricsRight
          h3 Trailer
          iframe(type='text/html' width='200' height='200' src='' frameborder='1')

          
