include layout

block content
  link(rel='stylesheet', href='/stylesheets/show.css')
  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.5.4/dragula.min.js")
  script(src='../javascripts/vote.js')

  if data
    div.left
      h1= data.title
      img.movieImgs(src='http://image.tmdb.org/t/p/w500'+ data.photo_link height='400px' width='200px')
      //- p % Picked This
    
    div.right
      div.metrics
        div.metricsLeft
          h3 Popularity
          p= data.popularity.toFixed(2) + ' %'
          h3 Description
          p= data.overview
        div.metricsRight
          
    
          
