extends layout

block content
  link(rel='stylesheet', href='/stylesheets/vote.css')
  script(src='../javascripts/vote.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.5.4/dragula.min.js")
  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  form.picks(action='/' method="post")
   
    div#userPick
  button(type="submit" id="button") Submit

      //- once we have api hooked up we can change this to a loop to render the images on the page 
    div.allPicks
      img.movieImgs(src='http://placehold.it/200x200' value ="something")
      img.movieImgs(src='http://placehold.it/200x200' value ="s3434")
      img.movieImgs(src='http://placehold.it/200x200' value ="433243")
      img.movieImgs(src='http://placehold.it/200x200' value ="32434")
      img.movieImgs(src='http://placehold.it/200x200' value ="somet6565hing")
      img.movieImgs(src='http://placehold.it/200x200' value ="56777")
      img.movieImgs(src='http://placehold.it/200x200' value ="someth4523ing")
      img.movieImgs(src='http://placehold.it/200x200' value ="43434667")
   
   form
     input#the-form(type="text" value="")
