extends layout

block content
  link(rel='stylesheet', href='/stylesheets/vote.css')
  script(src='../javascripts/vote.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.5.4/dragula.min.js")
  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  form.picks(action='/' method="post")
   
    div#userPick
  button(type="submit" id="button") Submit

      //- once we have api hooked up we can change this to a loop to render the images on the page 
    div.allPicks
      if images
        for image in images
          img(src=image)
   
   form
     input#the-form(type="text" value="")
