
.grid {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  height: 75vh;
  top: 14%;
  position: relative;
}

.box {
  display: flex;
  flex-direction: row;
  /*flex: 1 0 auto;*/
  width: 40%;
  height: 50%;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: solid 2px black;
}

.box li {
  display: block;
}

.box img {
  object-fit: scale-down;
}
