/*colors:
  black #23332B
  red #ED4600
  taupe #E9C291
  yellow #FFE800
  grey #5B616A
*/
body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#23332b+50,5b616a+100 */
background: #23332b; /* Old browsers */
background: -moz-linear-gradient(left,  #23332b 50%, #5b616a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #23332b 50%,#5b616a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #23332b 50%,#5b616a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23332b', endColorstr='#5b616a',GradientType=1 ); /* IE6-9 */

overflow-x: hidden;

margin: 0px;
padding: 0px;
width: 100vw;
background-color: #000;
color: #ED4600;
}

.user-info{
	position: relative;
	top: 15%;
	text-align:center;
	left: 0%;
	width: 100%;
}

.big-image{
	position: relative;
	display: inline-block;
	margin: auto auto;
	width: 175px;
	height: 175px;
  border: 2px solid #e9c291;
}
.users-name{
  color: white;
}
.user-info-text{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16pt;
}
.user-picks{
  position: absolute;;
  top: 50%;
  width: 100%;
  height: 50%;
  border: 3px solid purple
  text-align:center;
}
.indiv-picks{
	position: relative;
	top: 0%;
	text-align:center;
	left: 0%;
	width: 100%;
}
.movie-title{
  margin-bottom: 3px;
  color: white;
}
.user-comment{
  margin-top: 0px;
  color: white;
}
.comment-label{
  margin-bottom: 5px;
  color: white;
}
.moviePick{
  width: 250px;
  height: 375px;
  margin: 5px;
  display: inline-block;
}

.moviePick img{
  float: left;
  width: 250px;
  height: 357px;
}
