body{
  margin: 0px;
  padding: 0px;
  width: 100vw;
  background-color: #000;

}

.logo-holder{
  background-color: black;
  padding-top: 10px;
  height: 12vh;
}
.left{
  width:30vw;
  display: inline-block;
  height: 100vh;
  float: left;
  text-align: center;
  color: #fff;
  padding-left: 100px;
}

.right{
  width: 50vw;
  background-color: #000;
  display: inline-block;
  height: 100vh;
  text-align: center;
  color: #fff;


}

.info{
  border: solid black 2px;
  height: 200px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
}

.metrics{
  border: solid black 2px;
  margin: 20px auto;
  height: 340px;
  width: 500px;
  text-align: left;
  padding: 20px;
  padding-top: 40px;
}
.metrics

.metricsLeft{
 float: left;
 width: 49%;
 height: 100%;
}

.metricsRight{
  float: left;
  height: 100%;
  width: 49%;
}
iframe{
  margin: 15px;
}
