html, body{
  margin: 0px;
  padding: 0px;
  background-color: #000
}

#userPick{
  background-color: #23332B;
  width: 100vw;
  height: 60vh;
  padding-top: 50px;
  overflow: hidden;
}

button{

}
=======

>>>>>>> jessMaster
.allPicks{
  display: inline;
  width: 100vw;
  margin: 10px auto;

}

.movieImgs{
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 10px auto;
  padding: 35px;
=======
#movie_img{
  width: 140px;
  height: 200px;
  display: inline-block;
  margin: 10px auto;
  padding: 40px;
  border-radius: 50px;
}
#submit{
  width: 30%;
  height: 5%;
  background-color: red;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 20px;
  border-radius: 20px;
}
#submit:hover{
  color: grey;
>>>>>>> jessMaster
}

/*draggula stuff*/

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
