link(href='https://fonts.googleapis.com/css?family=Jura:400,500' rel='stylesheet' type='text/css')
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/register.css')
link(rel='stylesheet', href='../stylesheets/all-movies-show.css')
link(rel='stylesheet', href='../stylesheets/stock-ticker.css')
| <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>


head
	title= title

	
	script(src='https://code.jquery.com/jquery-2.2.0.min.js' type="text/javascript")
	script(src='javascripts/animations.js' type="text/javascript")

include ../layout


div.containing-container
	div.movie-container
		if movies
			for movie in movies
				if movie.image
					a(href='/'+movie.title)
						img.middle-poster(src= movie.image)
	|<div id="example">
		
	|    <div id="ticker" class="stockTicker">
	|      <span class="up"><span class="quote">1.) Corey - $2250000</span> 123.234 1.2%</span>
	|      <span class="down">
	|      <span class="quote">2.) June - $2000000	</span> 20.543 -5.2%</span>
	|      <span class="eq">
	|      <span class="quote">3.) Jessica - $1500000	</span> 523.234 0.0%</span>
	|      <span class="down"><span class="quote">4.) Josh - $1000000	</span> 89.65 -3.4%</span>
	|      <span class="up"><span class="quote">5.) Cameron - $2250000	</span> 456.64 0.318%</span>
	|			<span class="up"><span class="quote">TMBL</span>8.) Pat - $1000000	</span>
	|			<span class="eq"><span class="quote">6.) Sam - $2000000	</span> 6.3 0.0%</span>
	|			<span class="down"><span class="quote">7.) Tommy - $1500000</span>      74.543 -0.321%</span>
	|			<span class="quote">Stock Quotes: </span><span class="up">
	|			<span class="quote">FITR</span>9.) Brandon - $2250000	</span>
	|			<span class="down"><span class="quote">IRAQ</span>10.) Martha - $2000000	</span>
	|			<span class="up"><span class="quote">RACE</span>11.) Brooks - $1500000	</span>
	|			<span class="up"><span class="quote">RACE</span>12.) Cam Newton- $1500000	</span>
	|			<span class="down"><span class="quote">RACE</span>13.) Peyton Manning - $1000000	</span>
	|    </div>
	
	|    <ul id="csTicker" class="stockTicker">
	|      <li class="up">
	|        <span class="ticker__index">MDGS</span>
	|        <span class="pi pi--up"> +0.27%</span>
	|      </li>
	|      <li class="eq"><span class="ticker__index">CRED</span>
	|        <span class="pi pi--up"> +0.34%</span></li>
	|      <li class="up"><span class="ticker__index">RCKY</span>
	|        <span class="pi pi--up"> +0.57%</span></li>
	|      <li class="down"><span class="ticker__index">FURY</span>
	|        <span class="pi pi--up"> -0.57%</span></li>
	|      <li class="eq"><span class="ticker__index">LOTR</span>
	|        <span class="pi pi--up"> +0.47%</span></li>
	|      <li class="up"><span class="ticker__index">WALE</span>
	|        <span class="pi pi--up"> +22.3%</span></li>
	|      <li class="down"><span class="ticker__index">MADMAX</span>
	|        <span class="pi pi--up"> -2.3%</span></li>
	|      <li class="eq"><span class="ticker__index">AVTR</span>
	|        <span class="pi pi--up"> +2.3%</span></li>
	|      <li class="up"><span class="ticker__index">HP5</span>
	|        <span class="pi pi--up"> +4.7%</span></li>
	|      <li class="down"><span class="ticker__index">INDI</span>
	|      <li class="eq"><span class="ticker__index">UP</span>
	|        <span class="pi pi--up"> +3.2%</span></li>
	|      <li class="up"><span class="ticker__index">NEMO</span>
	|        <span class="pi pi--up"> +1.54%</span></li>
	|      <li class="down"><span class="ticker__index">STR</span>
	|      
	|    </ul>
	
	|  </div>

script(type='text/javascript').      
	console.log(localStorage.getItem("myFirstKey"))
script(src='../javascripts/StockTicker.js')
